body {
	font-family:"Tahoma", Geneva, sans-serif;
}

.navblock {
	height:50px;
	width:80%;
	background-color:black;
	margin: 2% 10% 0% 10%;
	
}

.navtab {
	width:30%;
	padding:5px;
	float:left;
	margin-top:5px;
	font-size:20px;
	text-align:center;
}

.maincontent {
	margin: 0% 20% 0% 20%;
}

a.navlink:link {
	color:white;
	text-decoration: none;
	
}

a.navlink:visited {
	color:white;
	text-decoration: none;	
}

a.navlink:hover {
	font-size:24px;
}

a.navlink:active {
	color:lightgreen;
}
