body {
	font-family:"Tahoma", Geneva, sans-serif;
}

.head {
	position:relative;
	top:0;
	left:0;
}

.vflogo{
	position:absolute;
	top:10%;
	left:10%;
}

.navblock {
	height:50px;
	width:70%;
	background-color:black;
	margin: 0% 10% 0% 10%;
	display:flex;
	justify-content:space-around;
}

.navtab {
	width:30%;
	margin: 0px 10px 0px 10px;
	padding:10px;
	font-size:1.25em;
	text-align:center;
	list-style-type:none;
}

.navbanner {
	width:100%;

}

.maincontent {
	margin: 5% 20% 0% 20%;
}

.footer{
	background-color:grey;
}

a.navlink:link {
	color:white;
	text-decoration: none;
	
}

a.navlink:visited {
	color:white;
	text-decoration: none;	
}

a.navlink:hover {
	font-size:1.25em;
}

a.navlink:active {
	color:lightgreen;
}
