body {
	font-family:"Tahoma", Geneva, sans-serif;
}

#maincontent {
	padding: 0% 20% 0% 20%;
}

#navblock {
	background-color:lightblue;
	margin: 0% 10% 0% 10%;
	link-color:white;
	font-size:20px;
	text-decoration: none;
	text-align: center;

}

#navblock a:link {
	color:white;
	text-decoration: none;	
}

td.navtabs {
	width:33%;
}